---
import Layout from "./Layout.astro";
import getTheme from "ui/utils/getTheme";
import ContactForm from "./components/contact-form";

const theme = getTheme(Astro);
---

<Layout theme={theme} class="justify-center">
  <div
    class="flex flex-col items-center w-full max-w-[90vw] xs:max-w-[87vw] 2.5xl:max-w-none 2.5xl:px-12 mb-36 sm:max-w-none"
  >
    <div class="flex flex-col items-center justify-center w-full max-w-3xl">
      <div class="flex flex-col text-center">
        <h1 class="text-3xl font-semibold xl:text-4xl">Contact Us</h1>
        <span class="text-xl font-light sm:text-2xl text-secondary"
          >Want to send us a message fill in the form below</span
        >
      </div>
      <ContactForm class="mt-8" client:visible />
    </div>
  </div>
</Layout>
